<div class="center"> 
    <h1>The Current List of Our Cocktails</h1>

    <%= form_tag('/cocktails', method: 'get') do  %>
        <%= label_tag(:query, "Search for:") %>
        <%= text_field_tag(:query) %>
        <%= submit_tag("Search") %>
    <% end %>
    <br>
    <%= form_tag('/cocktails', method: 'get') do  %>
        <%= label_tag(:style_id, "Filter by Style:") %>
        <%= collection_select(:cocktail, :style_id, Style.all, :id, :pallette, include_blank: true) %>
        <%= submit_tag("Filter") %>
    <% end %>
        
    <% if @cocktails.empty? %>
        <h3>Sorry, but no one has created a cocktail yet.  Go ahead and make one! <h3>
    <% else %>
        <ol id="cocktails">
            <% @cocktails.each do |cocktail| %>
            <li><%= link_to cocktail.display_with_creator, cocktail_path(cocktail) %> - <%= cocktail.style.pallette %></li>
            <br>
            <% end %>
    <% end %>
        </ol>
        
</div>
 