<h2>Create A New Cocktail</h2> 

<%= form_for(@cocktail) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %></br>
</br>
<%= f.label :alcohol %>
<%= f.text_field :alcohol %></br>
</br>
<%= f.label :glassware_id, "Glassware to serve the cocktail" %>
<%= f.collection_select :glassware_id, Glassware.all, :id, :style, prompt: true %></br>
</br>
<%= f.label :style_id, "Select the style of your cocktail" %>
<%= f.collection_select :style_id, Style.all, :id, :pallette, prompt: true %></br>
</br>
<%= f.label :garnish_id, "Select the garnish for your cocktail" %>
<%= f.collection_select :garnish_id, Garnish.all, :id, :kind, prompt: true %></br>
</br>
<%= f.label 'Directions' %>
<%= f.text_area :direction %></br>
</br>
<%= f.submit 'Create Cocktail'%>

<% end %>



