<h2>Create A New Cocktail</h2> 

<%= form_for(@cocktail) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %></br>
</br>
<%= f.fields_for :measurements do |m| %>
        <%= m.label :alcohol_id, "Alcohols:" %>
        <%= m.collection_select(:alcohol_id, Alcohol.all.alphabetize, :id, :etoh_name, include_blank: true)%>
    
        <%= m.fields_for :alcohol do |a| %>
            <%= a.label :etoh_name, "Or add a new alcohol:" %>
            <%= a.text_field :etoh_name %>
        <% end %>
    <%= m.label :size, "Amount"%>    
    <%= m.number_field :size, step: 0.25 %>
    <%= m.label :unit %>
    <%= m.text_field :unit %></br>
 <% end %></br>
</br>
<%= f.label :glassware_id, "Glassware to serve the cocktail" %>
<%= f.collection_select(:glassware_id, Glassware.all, :id, :style) %></br>
</br>
<%= f.label :style_id, "Select the style of your cocktail" %>
<%= f.collection_select(:style_id, Style.all, :id, :pallette)%></br>
</br>
<%= f.label :garnish_id, "Select the garnish for your cocktail" %>
<%= f.collection_select(:garnish_id, Garnish.all, :id, :kind, include_blank: true) %></br>
</br>
<p> Or Add a new garnish: </p>
    <%= f.fields_for :garnish do |g| %>
        <%= g.label :kind, "Garnish Name" %>
        <%= g.text_field :kind %>
        <% end %></br>
        </br>
<%= f.label :instructions, 'Directions' %>
<%= f.text_area :instructions %></br>
</br>
<%= f.submit 'Create Cocktail'%>

<% end %>



