<h2>Create A New Cocktail</h2> 

<%= form_for(@cocktail) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %></br>
</br>
</br>
</br>
<p> Or Add new alcohols: </p>
<%= f.fields_for :measurement do |m| %>
        <%= m.label :alcohol_id, "Alcohols" %>
        <%= m.collection_select(:alcohol_id, Alcohol.all, :id, :etoh_name, include_blank :true)%>
    
        <%= m.fields_for :alcohol do |a| %>
            <%= a.label :etoh_name, "Alcohol name" %>
            <%= a.text_field :etoh_name %>
        <% end %>
    <%= m.label :size, "Quantity"%>    
    <%= m.number_field :size %>
    <%= m.label :unit %>
    <%-= m.text_field :unit %>
 <% end %></br>
</br>
<%= f.label :glassware_id, "Glassware to serve the cocktail" %>
<%= f.collection_select :glassware_id, Glassware.all, :id, :style, prompt: true %></br>
</br>
<%= f.label :style_id, "Select the style of your cocktail" %>
<%= f.collection_select :style_id, Style.all, :id, :pallette, prompt: true %></br>
</br>
<%= f.label :garnish_id, "Select the garnish for your cocktail" %>
<%= f.collection_select :garnish_id, Garnish.all, :id, :kind, prompt: true %></br>
</br>
<p> Or Add a new garnish: </p>
<%= f.fields_for :garnish do |g| %>
    <%= g_fields.label "Garnish name" %>
    <%= g_fields.text_field :kind %>
    <% end %></br>
<%= f.label 'Directions' %>
<%= f.text_area :direction %></br>
</br>
<%= f.submit 'Create Cocktail'%>

<% end %>



