<!DOCTYPE html>
<html>
  <head>
    <title>CocktailShaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <link rel="stylesheet" href="./style.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
    <li><a class="active" href="<%= root_path %>">Home</a></li>
    <li><a href="<%= signup_path %>">Signup</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
