<!DOCTYPE html>
<html>
  <head>
    <title>CocktailShaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="./style.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
  <li><%= link_to 'Home', root_path %></a></li>
  <li><%= link_to 'Signup', signup_path %></a></li>
  </ul>
    <%= yield %>
  </body>
</html>
