<!DOCTYPE html>
<html>
  <head>
    <title>CocktailShaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
    <li><a class="active" href="<%= root_path %>">Home</a></li>
      if logged_in?
    <li><a href="<%= logout_path%>">Log Out</a></li>
      else
    <li><a href="<%= signup_path %>">Signup</a></li>
    <li><a href="<%= login_path %>">Login</a></li>
    </ul>
    <% end >%>

    <%= yield %>
  </body>
</html>
