<!DOCTYPE html>
<html>
  <head>
    <title>CocktailShaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <ul>
    <li><p><%= link_to "Home", root_path %></p></li>
      <% if logged_in? %>
    <li><p><%= link_to "Create a Cocktail", new_cocktail_path(current_mixologist) %></p></li>
    <li><p><%= link_to "See All the Cocktails", cocktails_path %></p></li>
    <li><p><%= link_to "See Your Cocktails", mixologist_cocktails_path(current_mixologist) if current_mixologist %></p></li>
    <li><p><%= link_to "Log Out", logout_path, method: "delete" %></p></li>
      <% else %>
    <li><p><%= link_to "Sign Up", signup_path %></p></li>
    <li><p><%= link_to "Log In", login_path %></p></li>
    <li><p><%= link_to('Log in with Facebook', '/auth/facebook') %></p></li>
    </ul>
      <% end %>
  </div>
    

    <%= yield %>
  </body>
</html>
